<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Bienvenido a MercadoLiebre</title>
    <link rel= "icon" href="images/logo-mercado-liebre.svg">
    <link rel="Stylesheet" href="/css/styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <!--Aca linqueo la fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!--Iconos-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    
    <header>
        <div class="top-header">

            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="logo">
                            <img src="images/logo-mercado-liebre.svg" alt="logo de Mercadoliebre">  
                        </div>
                    </div>
                    <div class="col-6">
                        <input type="search" class="input" placeholder= "Buscar productos, marcas...">
                    </div>
                    <div class="col-4">
                        <h2 class="copy-header">
                            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 left-menu" >
                        <ul class="main-navbar">
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class="col-4 right-menu">
                        <ul class="right-navbar">
                            <li><a href="/register">Creá tu cuenta<i class="fas fa-id-card"></i></a>
                            <li><a href="/login">Ingresá<i class="fas fa-sign-out-alt"></i></a>
                            <li><a href="#">Mis compras<i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        
        </div>
    </header>

<!-----Login----->

<form action="" method="get">
    <div class="Login-User row">
        <div class="col-2"></div>
        <div class="col-8 bg-light p-2">
            <input type="text" placeholder="Nombre de Usuario" class="form-control input-login">
            <input type="password" placeholder="Elegí tu contraseña" class="form-control input-login">
            
            
             <div class="form-button">
                <button type="submit" class="btn btn-primary mb-1 input-login">Enviar</button>
             </div> 
        </div>
        <div class="col-2"></div>

    </div>
</form>

<section class ="banner">
    <img src="images/img-home-banner.jpg" alt="">
</section>

<main>
    <section class="Ultimas-Visitas">
        <h2>Basado en tu ultima visita</h2>
    
    <article class="prod-ult-">
     <img class="prod-ult-img" src="images/img-cafetera-moulinex.jpg" width="425" alt="">
        <div class="shipping">
        <i class="fas fa-truck"></i>
        <div class="prod-ult-container"></div>
    </div>
    <h2 class= "precios">$6.770</h2>
    <h4 class="descuentos">40% OFF</h4>
    <p>Cafetera Moulinex</p>
    </article>
    
    <article class="prod-ult-">
        <div>
            <img  class="prod-ult-img" src="images/img-macbook-pro-2019.jpg" width="425" alt="">
                <div class="shipping">
                <i class="fas fa-truck"></i>
               </div>
           <h2 class= "precios">$230.000</h2>
           <h4 class="descuentos">20% off</h4>
           <p>MacBook Pro 2019</p>
           
    </article>
    <article class="prod-ult-">
        <div>
            <img class="prod-ult-img" src="images/img-samsung-galaxy-s10.jpg" width="425"alt="">
            <div class="shipping">
            <i class="fas fa-truck"></i>
               </div>
           <h2 class= "precios">$70.500</h2>
           <h4 class="descuentos">10% off</h4>
           <p>Samsung Galaxy S10</p>
    </article>
    
    <article class="prod-ult-">
        <div>
            <img class="prod-ult-img" src="images/img-tv-samsung-smart.jpg" width="425"alt="">
            <div class="shipping">
                <i class="fas fa-truck"></i>
               </div>
           <h2 class= "precios">$23.200</h2>
           <h4 class="descuentos">5% off</h4>
           <p>SmartTv Samsung 43"</p>
    
    </article>
    </section>
    
<section class ="Ofertas">
    <h2>Ofertas</h2>

<article class="prod-ofert-">
        <img class="prod-ofert-img" src="images/img-cafetera-moulinex.jpg" alt="">
        <div class="shipping">
            <i class="fas fa-truck"></i>
            <div class="prod-ofert-container">
            </div>       
    <h2 class= "precios">$6.770</h2>
      <h4 class="descuentos">40% off </h4>
    <p>Cafetera Moulinex</p>  
        </div>
     </div>
    </div>
    </div>
</article>


<article class="prod-ofert-">
        <img class="prod-ofert-img" src="images/img-macbook-pro-2019.jpg" alt="">
        <div class="shipping">
            <i class="fas fa-truck"></i>
        </div>   
    <h2 class= "precios">$230.000</h2>
    <h4 class="descuentos">20% off</h4>
    <p>MacBook Pro 2019</p>
</article>


<article class="prod-ofert-">
    <img class="prod-ofert-img"  src="images/img-samsung-galaxy-s10.jpg" alt="">
    <div class="shipping">
        <i class="fas fa-truck"></i>
    </div>
    <h2 class= "precios">$70.500</h2>
    <h4 class="descuentos">10% off</h4>
    <p>Samsung Galaxy S10</p>   
</article>


<article class="prod-ofert-">
        <img class="prod-ofert-img" src="images/img-tv-samsung-smart.jpg" alt="">
        <div class="shipping">
            <i class="fas fa-truck"></i>
        </div>     
             <h2 class= "precios">$23.200</h2>
            <h4 class="descuentos">5% off</h4>
            <p>SmartTv Samsung 43"</p>
</article>
</section>



</main>

<footer class="main-footer">
       <section class="icon-creditcard">
    <i class="fa fa-credit-card"></i>
   <ul><a href="#">Pagá con tarjeta o en efectivo</a>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </ul>
</section>

    <section  class="icon-shipping">
        <i class="fa fa-gift"></i>
    <ul><a href="#">Envío gratis desde $ 2.500</a>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
   
    </ul>
</section>

    <section class="icon-shield">
   <i class="fa fa-user-shield"></i></div>
    <ul><a href="#">Seguridad, de principio a fin</a>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </ul>
</section>

<div class="footer-bottom">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>

</footer>
