<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <main class="Login-User">
        <form action="/" method="GET">
            <div class="form-group">
                <label for="name">Nombre de usuario</label>
                <input type="text" placeholder="Julian" name="name" required> 

                <div class="form-group">
                    <label for="name"></label>
                    <input type="password" placeholder="********" name="name" required> 
                </div>

                <div class="form-button">
        <button type="submit">Enviar</button>
    </div>     
                        

    <main class="register-User">
<form action="/" method="GET">

<div class="form-group">
    <label for="name">Nombre y apellido</label>
    <input type="text" placeholder="Julian" name="name" required> 
</div>

<!------login----->

<div class="form-group">
    <label for="name">Nombre de usuario</label>
    <input type="text" placeholder="Nombre de Usuario" name="Nombre de usuario" required>
</div>

<div class="form-group">
    <label for="email">Correo Electronico</label>
    <input type="email" placeholder="E-mail" name="email" required>
</div>

<div class="form-group">
    <label for="birth_date">Fecha de Nacimiento</label>
    <input type="date" placeholder="birth_date" name="birth_date" required>
</div>

<div class="form-group">
    <label for="domicilio">Domicilio</label>
    <input type="text" placeholder="domicilio" name="domicilio" required>
</div>

<div class="form-group">
    <label for="perfil-usuario">perfil del usuario</label>
    <label form="usuario">Comprador</label>
    <input type="radio" name="usuario" value="Comprador">
    <label form="usuario">Vendedor</label>
    <input type="radio" name="usuario" value="Vendedor">
</div>

<div class="form-group">
    <label for="Intereses">Intereses</label>
    <input type="checkbox" name="Electro" value="Electro">
    <input type="checkbox" name="Moda" value="Moda">
    <input type="checkbox" name="Hogar" value="Hogar">
    <input type="checkbox" name="Jugueteria" value="Jugueteria">
    <input type="checkbox" name="Vida Sana" value="Vida Sana">
    <input type="checkbox" name="Foto de Usuario" value="Foto de Usuario">
    <input type="checkbox" name="contraseña" value="Contraseña">
    <input type="checkbox" name="Confirmar contraseña" value="Confirmar contraseña">

    <label for="imagenDeperfil">Foto de usuario:
        <input type="file" name="imagenDeperfil">
    </label>
    

    <div class="form-button">
        <button type="submit">Enviar</button>
        <button type="reset">Cancelar</button>
    </div>


</body>
</html>